@tailwind base;
@tailwind components;
@tailwind utilities;


.disconnected {
  @apply flex w-3 h-3 bg-red-500 rounded-full;
}

.connected {
  @apply flex w-3 h-3 bg-green-500 rounded-full;
}

.button {
  @apply py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 flex flex-row gap-2 items-center dark:bg-gray-800 dark:text-white dark:border-gray-700;
}

.textarea {
  @apply w-full h-32 p-2 text-sm text-gray-900 bg-white border border-gray-200 rounded-lg dark:text-white dark:bg-gray-800 dark:border-gray-700;
}
